apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: helloworld
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: helloworld
    spec:
      containers:
        - name: helloworld
          image: gupguru/dotnet-core-helloworld:1.0
          ports:
            - name: http-port
              containerPort: 80
